//README this is a view using 'jade' which is node's visual templates. Here is what I dont understand yet is how we can place our react native pages in here or how we can refer to them in a different location. 
//README notice the "extends layout", if you look in this folder, and open the layout // page, basically the layout page is copied into the start of every view that says it extends it.
extends layout

block content
  p THIS IS THE SIGN IN
